<template>
  <div id="app">
    Hi. Current entries:
    <ul id="example-1">
      <li v-for="entry in entries" :key="entry">
        {{ entry }}
      </li>
    </ul>
    <v-data-table
      :headers="headers"
      :items="desserts"
      :sort-by="['calories', 'fat']"
      :sort-desc="[false, true]"
      multi-sort
      class="elevation-1"
    >
         <template v-slot:item.datum="{ item }">
           <span>{{new Date(item.datum).toLocaleString()}}</span>
         </template></v-data-table>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { store } from './store';
import { sample, range } from 'lodash'

function randomDate(start: Date, end: Date) {
    return new Date(start.getTime() + Math.random() * (end.getTime() - start.getTime()));
}

enum Anliegen {
  Coronaverdacht = 'Coronaverdacht',
  Information = 'Information',
  Unbekannt = 'Unbekannt'
}

enum Einschaetzung {
  Rot = 'Rot',
  Gelb = 'Gelb',
  Gruen = 'Grün'
}

enum Status {
  Rot = 'Offen',
  Gelb = 'In Bearbeitung',
  Gruen = 'Fertig'
}

type Case = {
  datum: Date,
  anliegen?: Anliegen,
  einschaetzung?: Einschaetzung,
  status?: Status
}

function randomCase(): Case {
  return {
          datum: randomDate(new Date(2020, 2, 20), new Date(2020, 2, 22)),
          anliegen: sample(Object.values(Anliegen)),
          einschaetzung: sample(Object.values(Einschaetzung)),
          status: sample(Object.values(Status)),
        };
}

const exampleCases: Array<Case> = range(20).map(() => randomCase());
console.log(exampleCases);

@Component({
  components: {},
})
export default class App extends Vue {
  data() {
    return {
      entries: store.entries,
      headers: [
        {
          text: 'Datum',
          align: 'start',
          value: 'datum',
        },
        { text: 'Anliegen', value: 'anliegen' },
        { text: 'Einschätzung', value: 'einschaetzung' },
        { text: 'Status', value: 'status' },
      ],
      desserts: exampleCases,
    };
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
